.monthly {
  background-image: url("../../assets/images/sun_enrgy.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
  text-align: center;
}

.ct-series-a .ct-line {
  stroke: red;
  stroke-width: 5px;
}

.chart {
  margin-top: 10px;
}
