.usage {
  background-image: url("../../assets/images/pexels-photo.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
li {
  text-align: center;
  display: inline-flex;
}
.container {
  flex-direction: row;
  display: inline-block;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.total {
  padding-top: ;
}

.number {
  height: unset !important;
}
